examples/xsd/02/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
        targetNamespace="http://lundogbendsen.dk/schemas/2021/08/02/Person"
        xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" >
    <element name="person">
        <complexType>
            <sequence>
                <element name="name" type="string"/>
                <element name="hero" type="boolean" />
                <element name="netWorth" type="int"/>
                <element name="birthdate" type="date"/>
                <element name="massOnEarth" type="decimal"/>
            </sequence>
        </complexType>
    </element>
</schema>
