examples/xsd/elementFormDefault/unqualified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
        targetNamespace="http://lundogbendsen.dk/schemas/2021/08/02/Person"
        xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

    <!--unqualified betyder at child-elementer ikke arver namespace fra parents (de er unqualified) -->

    <element name="person">
        <complexType>
            <sequence>
                <element name="name" type="string"/>
                <element name="hero" type="boolean" />
            </sequence>
        </complexType>
    </element>
</schema>
