examples/xsd/toldeksport/toldeksport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by SKAT Hovedcentret (SKAT Hovedcentret) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Shahryar Bakhtiari (Frontec) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ExternalExportCusDec">
		<xs:annotation>
			<xs:documentation>Document No: TSES-7003
Revision: 4.0
Last update: 2010-01-26
Status: Preliminary
Issued by: Steria A/S, EGR
Revision:
3.8         20090810           EGR     Approved final version of ECS-II
3.9	20091229	EGR	Corrections for the YM project
4.0	20100126	EGR	Corrections in YM data
4.1	20100129           EGR      Corretctions in YM AltMængdeEnhed

                                                          Added tags for  Goodsdeclaration:
                                                          ============================
                                                          YMIndladningStart
                                                          YMIndladningSlut
				EksportArt
                                                          Tstatus
                                                          YMVarPlacIndlsted
                                                          FrafoerselsDato
                                                          ErklaeringsCode
                                                          BemTilOplTilHoveddel
                                                          DispensationForForsegling

				Added tags for Item
				============================
				YMVareTillaegKode
				RestSatsIEuro
				RestMindre
				YMGarantiJournalNr
				YMLicensNummer
				YMLicensArt
				DatoFF
				ProcentIndhold
				AltMængdeEnhed
				Erklæringkode
				BemTilOplTilGodsposten
				ReceptSENummer
				ReceptLbNummer
				ReceptMaengde
				ReceptEnhed
				ReceptUnderOvervaegt
				BasisvareKode
				BasisvareNettovaegt
				BasisvareBasisProcent
				BasisMaengde
				BasisvareLicensNummer
				BasisvareLicensNummerArt
				BasisvareSatsDatoVed FF
				BasisvareErklaeringsKode
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SenderIdentification">
					<xs:annotation>
						<xs:documentation>Reg_SE_nr</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:pattern value="[0-9]{8}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RecipientIdentification">
					<xs:annotation>
						<xs:documentation>Modtager id</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="TOLDSKAT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DateOfPreparation">
					<xs:annotation>
						<xs:documentation>CCYYMMDD</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TimeOfPreparation">
					<xs:annotation>
						<xs:documentation>hhmm</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InterchangeReference">
					<xs:annotation>
						<xs:documentation>Unikt ref.nummer</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageType">
					<xs:annotation>
						<xs:documentation>"Customs Declaration"</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Customs Declaration"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AcknowledgementRequest" minOccurs="0">
					<xs:annotation>
						<xs:documentation>	0 = No acknowledgement requested
									1 = Both positive and negative acknowledgement requested
									2 = Only negative acknowledgement requested
									Note: leaving this tag means 0
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GoodsDeclaration" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EkspeditionsSted" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Ekspeditionssted, SAD Rubrik A.1
								Se Toldvejledningen (Fortegnelse over ekspeditionssteder)
								</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-Z0-9]{8}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EkspeditionsNummer" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Ekspeditionsnummer, SAD Rubrik A.2</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:pattern value="[0-9]{13}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ForvEkspeditionsTidspunkt" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Forv. ekspeditionstidspunkt CCYYMMDDhhmm
								</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FaktiskEkspeditionsTidspunkt" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Faktisk ekspeditionstidspunkt CCYYMMDDhhmm
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="STDFlag" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Std flag</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TypePartOneCode" type="AngivelsesArtType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Angivelsesart</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TypePartTwoCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Angivelsestype (an..2), SAD Rubrik 1.1 + EU Angivelsestype (an..1), SAD Rubrik 1.2</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Ajourfoeringstype" type="AjourType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Ajourføringstype. Skal kun angives, hvis der henvises til en tidligere indsendt angivelse.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Seal" minOccurs="0" maxOccurs="99">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identification">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Bemarkning" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bemærkning. Skal angives ved ajourføringstype 1, 2 og 8</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ItemQuantity" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Antal vareposter, SAD Rubrik 5</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:pattern value="[0-9]{1,3}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CommercialReferenceIdentifier" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Internt referencenr, SAD Rubrik 7</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ForespoergselRefNr" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Forespørgsel reference nr</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MRNNummer" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z0-9]{18}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PackageQuantity" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Kolli i alt, SAD Rubrik 6</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="7"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberOfSeals" type="xs:nonNegativeInteger" minOccurs="0"/>
							<xs:element name="InvoiceAmount" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Fakturaens beløb, SAD Rubrik 22.2</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:pattern value="[0-9]{1,16}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CurrencyCode" type="CurrencyCodeType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Fakturaens møntsort, SAD Rubrik 22.1
											Brug ISO tre-bogstavs valutakoder
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Declarant" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Klarerer</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IdentityIdentifier" type="SeNoType">
											<xs:annotation>
												<xs:documentation>Klarerers SE nr., SAD Rubrik 14</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Consignor" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Eksportør</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PartyName" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Privat eksportørs navn, SAD Rubrik 2.1.a
													Angives hvis Eksportør ikke har et SE_nr
											</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IdentityIdentifier" type="SeNoType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Eksportørs SE nr., SAD Rubrik 2.2</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EORINumber" type="EORIType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Eksportørs EORI nr., SAD Rubrik 2.2</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Street" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Privat eksportørs gade og nr,
												SAD Rubrik 2.1.b Angives hvis Eksportør ikke har et SE_nr
											</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Country" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Privat exportørs land,    SAD Rubrik 2.1.c
													Angives hvis Eksportør ikke har et SE_nr</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PostCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Privat exportørs postnr,  SAD Rubrik 2.1.d
													Angives hvis Eksportør ikke har et SE_nr</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="City" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Privat exportørs by,      SAD Rubrik 2.1.e
													Angives hvis Eksportør ikke har et SE_nr</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Consignee" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Modtager</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PartyName" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers navn,           SAD Rubrik 8.1a
													Angives hvis Modtager ikke har et SE_nr</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EORINumber" type="EORIType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers SE nr., SAD Rubrik 8</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Street" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers gade og nr,   SAD Rubrik 8.1b Angive hvis Modtager ikke har et SE_nr
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Country" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers land,            SAD Rubrik 8.1c Angive hvis Modtager ikke har et SE_nr
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PostCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers postnr,         SAD Rubrik 8.1d Angive hvis Modtager ikke har et SE_nr
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="City" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modtagers by,              SAD Rubrik 8.1e Angive hvis Modtager ikke har et SE_nr
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExitOfficerepresentative" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Partyname" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage, navn. (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EORINumber" type="EORIType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage,SE_nr  (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Street" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage, gade navn og nr (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Country" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage, landkode (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PostCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage, Postkode (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="City" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Repræsentant ved udpassage,  Bynavn (SAD rubrik S05a)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EXSTraderId" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EORINumber" type="EORIType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Forespoergsel" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Bruges ved angivelsesart 41 eller 43</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="VirksomhedsSENr" type="SeNoType">
											<xs:annotation>
												<xs:documentation>Virksomheds SE-nr (an10). Bruges ved angivelsesart 43</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Angivelse">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AngivelseArt" type="AngivelsesArtType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Angivelsesart. Bruges ved angivelsesart 41</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AngivelseStatus" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Eksportsystemets statuskode.
																Bruges ved angivelsesart 41.
																Eksempel: 9 = angivelsen har statuskode 9 og dermed har den en eller flere fejl.
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:pattern value="[0-9]{2}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Tidspunkt" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element name="ForvEkspeditionsTidspunkt">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="StartTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Forv. ekspeditionstidspunkt start
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="SlutTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Forv. ekspeditionstidspunkt slut
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="FaktiskEkspeditionsTidspunkt">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="StartTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Faktisk ekspeditionstidspunkt start
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="SlutTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Faktisk ekspeditionstidspunkt slut
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="FrigivelsesTidspunkt">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="StartTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Frigivelsestidspunkt start
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="SlutTidspunkt">
																				<xs:annotation>
																					<xs:documentation>Frigivelsestidspunkt slut
CCYYMMDDhhmm
</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="12"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Customs" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ExitOfficeIdentifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Udgangstoldsted, SAD Rubrik 29</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Warehouse" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="GoodsLocationPreciseIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Varernes placering, SAD Rubrik 30</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="18"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ExitLocationIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Varernes placering ved udpassage, SAD Rubrik 30</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="StorageFlag" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Storage flag</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransportMeans" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InlandModeCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indenlandsk transportmåde, SAD rubrik 26</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BorderModeCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportmåde ved grænsen, SAD Rubrik 25</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:pattern value="[0-9]{1}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportmidletsNationalitet" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Grænseoverskridende aktive transportmiddels nationalitet, SAD Rubrik 21</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DestinationCountryCode" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Bestemmelsesland, SAD Rubrik 17.a</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DepartureIdentityIdentifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportmidlets identitet, SAD Rubrik 18.1</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CountryOfRouting" type="String2Type" minOccurs="0" maxOccurs="99"/>
							<xs:element name="TermsOfDelivery" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TermsOfDeliveryCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TermsOfDeliveryDesc" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportChargesMethod" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Kode for betalingsmåde for transportudgifter (SAD Rubrik S29)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Carrier" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Carrier</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CarrierEORInr" type="EORIType">
											<xs:annotation>
												<xs:documentation>TransportørensE EORI nummer</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="YMEkstraHoveddelsOplysninger" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="YMIndladningStart" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indladning start. CCYYMMDDhhmm		</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="YMIndladningSlut" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indladning slut. CCYYMMDDhhmm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EksportArt" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Eksportart YM</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:pattern value="[0-9]{1,3}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Tstatus" minOccurs="0">
											<xs:annotation>
												<xs:documentation>TStatus YM</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="YMVarPlacIndlSted" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Varenrnes placering - indladningssted YM</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FrafoerselsDato" minOccurs="0">
											<xs:annotation>
												<xs:documentation>FraFørselsdato  CCYYMMDD
									</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="08"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ErklaeringsCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Erklæringer til hoveddel 3*a3 </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BemTilOplTilHoveddel" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Bemærkningsfelt til oplysninger til hoveddel 4*a70 </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="280"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DispensationForForsegling" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Dispensation for forsegling </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RestMindre" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Restitutionssats mindre end 1000 Euro</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GoodsItem" minOccurs="0" maxOccurs="299">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SequenceNumeric" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Varepostnr, SAD Rubrik 32</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:pattern value="[0-9]{1,3}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DescriptionText" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Varebeskrivelse, SAD Rubrik 31.5</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CommodityCodeIdentifier" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Varekode, SAD Rubrik 33</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="22"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GrossMassQuantity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Bruttomasse, SAD Rubrik 35</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
													<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NetMassQuantity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nettomasse, SAD Rubrik 38</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
													<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SupplementaryUnitQuantity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Supplerende enheder, SAD Rubrik 41</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:pattern value="[0-9]{1,8}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OriginCountryCode" type="CountryCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Oprindelsesland, SAD Rubrik 34.a</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatisticValueAmount" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Statistisk værdi, SAD Rubrik 46</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CustomsTreatment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ProcedureCode">
														<xs:annotation>
															<xs:documentation>Procedure, , SAD Rubrik 37</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[a-zA-Z0-9]{7}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IdentificationOfWarehouse" minOccurs="0">
											<xs:annotation>
												<xs:documentation>oplag</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z]{1}[0-9]{6}DK"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNDGNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>UnitedNations dangerous Goods Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Packaging" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MarkNumberIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Kolli mærke, SAD Rubrik 31.1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="16"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Containernr, SAD Rubrik 31.2</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="11"/>
																<xs:pattern value="[a-zA-Z]{4}[0-9]{7}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PackagingTypeCode" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Kolli art, SAD Rubrik 31.4</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[a-zA-Z]{2}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PackageQuantity" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Kolli antal, SAD Rubrik 31.3</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:totalDigits value="7"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PreviousDocumentCategory" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Forudgående dokument Kategori SAD Rubrik 40.1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PreviousDocumentTypeCode" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Forudgående dokument Type SAD Rubrik 40.1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ReferenceIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Forudgående dokument nr. SAD Rubrik 40.1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ProducedDocument" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ProducedDocumentTypeCode" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Se koder</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="811"/>
																<xs:enumeration value="16KO"/>
																<xs:enumeration value="16NR"/>
																<xs:enumeration value="110"/>
																<xs:enumeration value="380"/>
																<xs:enumeration value="785"/>
																<xs:enumeration value="DEL"/>
																<xs:enumeration value="40"/>
																<xs:enumeration value="N235"/>
																<xs:enumeration value="N270"/>
																<xs:enumeration value="N271"/>
																<xs:enumeration value="N325"/>
																<xs:enumeration value="N380"/>
																<xs:enumeration value="N651"/>
																<xs:enumeration value="N703"/>
																<xs:enumeration value="N704"/>
																<xs:enumeration value="N705"/>
																<xs:enumeration value="N710"/>
																<xs:enumeration value="N714"/>
																<xs:enumeration value="N720"/>
																<xs:enumeration value="N722"/>
																<xs:enumeration value="N730"/>
																<xs:enumeration value="N740"/>
																<xs:enumeration value="N741"/>
																<xs:enumeration value="N750"/>
																<xs:enumeration value="N760"/>
																<xs:enumeration value="N785"/>
																<xs:enumeration value="N787"/>
																<xs:enumeration value="N820"/>
																<xs:enumeration value="N821"/>
																<xs:enumeration value="N822"/>
																<xs:enumeration value="N823"/>
																<xs:enumeration value="N952"/>
																<xs:enumeration value="N955"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ReferenceIdentifier" type="xs:string">
														<xs:annotation>
															<xs:documentation>
Bevillingsnr an8, SAD Rubrik 44.1, hvis  ProducedDocumentTypeCode=811
Certifikatkode an..4, SAD Rubrik 44.2, hvis ProducedDocumentTypeCode=16KO
Certifikatnr an..9, SAD Rubrik 44.2, hvis ProducedDocumentTypeCode=16NR
Varebestemmelse an..4, SAD Rubrik 44.3, hvis ProducedDocumentTypeCode=110
Transportdokument , SAD Rubrik 44.5, hvis ProducedDocumentTypeCode har en værdi Nnnn (se forordning).
Delsendinger n5, SAD Rubrik 44.7, hvis ProducedDocumentTypeCode=DEL
Delsendinger består af en delsendingstype i første position og et firecifret løbenummer.
Delsendingstypen kan være en af følgende koder:
		"1"	Første sending
		"2"	Efterfølgende sendinger
		"9"	Sidste sendning
	Ved første delsending angives altid "0001" som løbenummer. Ved efterfølgende sendinger kan løbenummeret se ud som følger:

	Sending 1:	"10001"
	Sending 2:	"20002"
	Sending 3:	"20003"
	Sidste sending:	"90004"

Softwareværdi n..15, SAD Rubrik 44.8, hvis ProducedDocumentTypeCode=40
</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AdditionalInformation" minOccurs="0">
											<xs:annotation>
												<xs:documentation>AdditionalInformation kan angives, hvis der skal gives en meddelelse til ToldSkat, f.eks. oplysning om særlige forhold vedrørende angivelsen og varerne.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ContentText">
														<xs:annotation>
															<xs:documentation>Meddelelser, SAD Rubrik 44.6</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="YMEkstraVarepostOplysninger" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="YMVareTillaegKode" minOccurs="0">
														<xs:annotation>
															<xs:documentation>YM tillægs varekode</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="18"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RestSatsIEuro" minOccurs="0">
														<xs:annotation>
															<xs:documentation>restitutionssats i euro pr. 100</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="YMGarantiJournalNr" minOccurs="0">
														<xs:annotation>
															<xs:documentation>YM Garantijournal nummer</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="YMLicensNummer" minOccurs="0">
														<xs:annotation>
															<xs:documentation>YM Licens nummer</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="YMLicensArt" minOccurs="0">
														<xs:annotation>
															<xs:documentation>YM Licensart</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DatoFF" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Satsdato ved FF CCYYMMDD</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ProcentIndhold" minOccurs="0" maxOccurs="2">
														<xs:annotation>
															<xs:documentation>ProcentIndhold</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:nonNegativeInteger">
																<xs:pattern value="[0-9]{3}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AltMaengdeEnhed" minOccurs="0" maxOccurs="2">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AltMaengde" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Alt mngd</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																			<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="AltMEnhed" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Alternativ mængde enhed</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																			<xs:pattern value="[0-9]{1,2}"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ErklaeringKode" minOccurs="0" maxOccurs="3">
														<xs:annotation>
															<xs:documentation>Erklæringer til varepost</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BemTilOplTilGodsposten" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Bemærkninger til oplysninger til varepost</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="280"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Recept" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ReceptSENummer" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Recept SE Nummer</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ReceptLbNummer" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Recept Løbe Nummer</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ReceptMaengde" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Receptmængde</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																			<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ReceptEnhed" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ReceptEnhed</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ReceptUnderOvervaegt" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Recept under- eller Overvægt</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Basisvarer" minOccurs="0" maxOccurs="3">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BasisvareKode" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Basisvarekode</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisvareNettovaegt" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>BasisNettoVægt</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																			<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisvareBasisProcent" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>basisvare BasisProcent</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																			<xs:pattern value="[0-9]{1,7}(,[0-9]{1,2})*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisMaengde" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Basis mængde</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																			<xs:pattern value="[0-9]{1,10}(,[0-9]{1,3})*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisLicensNummer" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Basis licens nummer</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="8"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisLicensNummerArt" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Basis licensnummer art</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisSatsDatoVedFF" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>basis satsdato ved FF  CCYYMMDD</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="8"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BasisvareErklaeringsKode" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Basisvare Erklæringskode</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Proviant" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RejseMaal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Rejsens mål</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RejseVarighed" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Rejsens varighed. Skal angives i antal dage som heltal
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BesaetningAntal" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Antal besætningsmedlemmer. Skal angives som heltal
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TranspFoerer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportmidlets fører</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TranspArt" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportsmidlets art</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TranspHjemsted" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportmidlets hjemsted</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IndladningsSted" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indladningssted</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="255"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SpiritusAntal" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Spiritusbeholdning stk</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SpiritusLiter" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Spiritusbeholdning liter</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VinAntal" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Vinbeholdning stk</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VinLiter" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Vinbeholdning liter</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Cigaretter" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Cigaretbeholdning stk</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CigarCerut" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Cigar/cerutbeholdning stk</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BeholdningTobak" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Tobakbeholdning kg</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BeholdningOel" type="xs:nonNegativeInteger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ølbeholdning fl./ds</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BeholdningAndet" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Øvrig beholdning, fritekst</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="280"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Provianteringsbeskrivelse" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Beskrivning, fritekst</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="280"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeNoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="DK[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EORIType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AjourType">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AngivelsesArtType">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
